
<title>My application deployed automatically</title>
  <h1>Hello !</h1>

	Please give an integer array and two positive integers. <br>
	(Integers should be greater than 0) <br>
	Program will compute the avarage of the 2 integers and search in the array, if it is include the avarage returns true, otherwise returns false. <br>

    Result is {{result}}


  <form action="compute" method="post">
        <textarea name="input1" rows="10" cols="30">
        </textarea>
        <textarea name="input2" rows="10" cols="30">
        </textarea>
    <textarea name="input3" rows="10" cols="30">
        </textarea>
        <br>
        <input type="submit">
  </form>









